{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Ranking Produção: Leite</h4>
                </div>
                <div class="text-center">
                    <table class="table table-striped table-light table-bordered ">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="row"> </th>
                                <th scope="col">Código</th>
                                <th scope="col">Leite</th>
                                <th scope="col">Ração</th>
                                <th scope="col">Peso</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for gado in listagemASCDESC %}
                            <tr>
                                <th scope="row" class> </th>
                                <td>
                                    <a
                                        href="{{path('editar_gado',{id: gado.id})}}"
                                        class="btn btn-outline-info ">
                                        <span class="icon text-black-50">
                                            <i
                                                class="fa-regular fa-pen-to-square"></i>
                                        </span>
                                        <span class="text-dark ">
                                            {% if gado.codigo == NULL %}
                                            S/Cod
                                            {% else %}
                                            {{gado.codigo}}
                                            {% endif %}</span>
                                    </a>

                                </td>

                                <td >{{ gado.leite }}</td>
                                <td >{{ gado.racao }}</td>
                                <td >{{ gado.peso }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Produção total de leite</th>
                                <th>Consumo total de ração</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ leiteTotal|number_format(2, ',', '.') }}
                                    Litros</td>
                                <td>{{ racaoTotal|number_format(2, ',', '.') }}
                                    Kilos</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Consumo + 500kg, -1 idade</h4>
                </div>
                <div class="text-center">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="row"> </th>
                                <th scope="col">Código</th>
                                <th scope="col">Leite</th>
                                <th scope="col">Ração</th>
                                <th scope="col">Peso</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for gado in animaisConsumo1500 %}
                            <tr>
                                <th scope="row" class></th>
                                <td>
                                    <a
                                        href="{{path('editar_gado',{id: gado.id})}}"
                                        class="btn btn-outline-info">
                                        <span class="icon text-black-50">
                                            <i
                                                class="fa-regular fa-pen-to-square"></i>
                                        </span>
                                        <span class="text-dark">
                                            {% if gado.codigo == NULL %}
                                            S/Cod
                                            {% else %}
                                            {{gado.codigo}}
                                            {% endif %}</span>
                                    </a>

                                </td>
                                
                                <td>{{ gado.leite }}</td>
                                <td>{{ gado.racao }}</td>
                                <td>{{ gado.peso }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center">
                        <table class="table table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Animais Vivos</th>
                                    <th>Animais Abatidos</th>
                                    <th>Mortes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ animaisVivos|number_format(0, ',','.') }}</td>
                                    <td>{{ animaisAbatidos|number_format(0, ',','.') }}</td>
                                    <td>{{ animaisMorteOutras|number_format(0,',', '.') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
