
{% extends "base.html.twig" %}

{% block body %}

<div class="container ">
    <div class="row">
        <div class="col col-lg-5">

            <div class="card" style="margin-top: 10px;">
                <div class="card-header">
                    <div class="row">
                        <div class="col align-self-center">
                            <h4 class="m-0">Ranking Produção: Leite</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead class="thead-dark">

                            <tr>
                                <td>ID</td>
                                <td scope="col">Leite</td>
                                <td scope="col">Ração</td>
                                <td scope="col">Peso</td>

                            </tr>

                        </thead>

                        <tbody>
                            <div class="row">
                                <div class="col-md-x">
                                    {% for gado in listagemASCDESC %}

                                    <tr>
                                        <th scope="row">{{gado.id}}</th>
                                        <td>{{gado.leite}}</td>
                                        <td>{{gado.racao}}</td>
                                        <td>{{gado.peso}}</td>
                                    </tr>
                                </div>
                            </div>

                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="card col col-lg-6" style="margin-top: 10px;">
            <div class="card-header">
                <div class="row">
                    <div class="col align-self-center">
                        <h4 class="m-0">Consumo + 500kg, -1 idade</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead class="thead-dark">

                        <tr>
                            <td>ID</td>
                            <td scope="col">Leite</td>
                            <td scope="col">Ração</td>
                            <td scope="col">Peso</td>
                        </tr>

                    </thead>

                    <tbody>

                        {% for gado in animaisConsumo1500 %}

                        <tr>

                            <td>{{gado.id}}</td>
                            <td scope="row">{{gado.leite}}</td>
                            <td>{{gado.racao}}</td>
                            <td>{{gado.peso}}</td>
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
                <div class="row">

                    <div class="container">

                            <div class="col">
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Consumo de leite total</th>
                                            <th>Consumo de ração total:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{leiteTotal}}</td>
                                            <td>{{racaoTotal}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="row">
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Animais Vivos</th>
                                            <th>Animais Abatidos</th>
                                            <th>Mortes Outras Causas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{animaisVivos}}</td>
                                            <td>{{animaisAbatidos}}</td>
                                            <td>{{animaisMorteOutras}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                        </div>
                    </div>

                    <hr>
                </div>
            </div>
        </div>
        {% endblock body %}
