{% extends "base.html.twig" %}


{% block body %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Valor', 'Quantidade',  { role: 'style' }],
      ['Animais vivos',     {{animaisVivos|number_format(0, ',', '.')}}, '#aaffaa'],
      ['Abatidos',      {{animaisAbatidos|number_format(0, ',', '.')}}, '#3366cc'],
      ['Mortes',  {{animaisMorteOutras|number_format(0, ',', '.')}}, 'ff6666']
    ]);

    var options = {
      title: 'Percentual'
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
  }
</script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Estado', 'Quantidade',  { role: 'style' }],
            ['Vivos', {{animaisVivos}}, '#aaffaa'],
            ['Abatidos', {{animaisAbatidos}}, '#3366cc'],
            ['Mortes Outras', {{animaisMorteOutras}}, 'ff6666'],

        ]);

        var options = {
            title: 'Exemplo de Gráfico de Barras',
            legend: { position: 'none' },
        };
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);

    }
</script>

<div class="container border border-secondary ">
  <div class="row">
      <div class="col-md-6 border border-secondary rounded">
          <!-- Grafico de pizza -->
          <div class="p-2">
              <div id="piechart" style="width: 100%; height: 500px;"></div>
          </div>
      </div>
      <div class="col-md-6 border border-secondary rounded">
          <!-- Grafico em barras -->
          <div class="p-2">
              <div id="chart_div" style="width: 100%; height: 500px;"></div>
          </div>
      </div>
  </div>
</div>



{% endblock body %}
