{% extends "base.html.twig" %}

{% block title %} {{ titulo }} {% endblock %}

{% block body %}

{% for message in app.flashes('commit') %}
<div class='alert alert-success'>
    {{ message }}
</div>
{% endfor %}

<div class="card-header">
    <div class="row">
        <div class="col align-self-center">
            <h4 class="m-0">{{titulo}}</h4>
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <td>Código</td>
            <td scope="col">Leite</td>
            <td scope="col">Ração</td>
            <td scope="col">Peso</td>
            <td scope="col">Situação</td>
            <td scope="col">Nascimento</td>
            <td scope="col"> </td>
        </tr>
    </thead>
    <tbody>
        {% for gado in gadoAbate %}
        <tr>
            <td>
                {% if gado.codigo == NULL %}
                S/Cod
                {% else %}
                {{gado.codigo}}
                {% endif %}
            </td>
            <td scope="row">{{gado.leite}}</td>
            <td>{{gado.racao}}</td>
            <td>{{gado.peso}}</td>
            {% if gado.situacao == 1 %}
            <td>Vivo</td>
            {% endif %}
            {% if gado.situacao == 0 %}
            <td>Abate</td>
            {% endif %}
            {% if gado.situacao == 2 %}
            <td>Morto, outra razão.</td>
            {% endif %}
            <td>{{gado.nascimento|date('d-m-Y')}}</td>
            <td>
                <a href="{{path('editar_gado',{id: gado.id})}}"
                    class="btn btn-outline-info">
                    <span class="icon text-black-50">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                    <span class="text">Editar</span>
                </a>

                <a id="btn-excluir" data-toggle="modal"
                    href="{{path('editar_gado',{id: gado.id})}}"
                    data-target="#myModal" data-id="{{ gado.id }}"
                    class="btn btn-outline-danger">
                    <span class="icon text-black-50">
                        <i class="fas fa-trash"></i>
                    </span>
                    <span class="text">Enviar ao Abate!</span>
                </a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- header -->
            <div class="modal-header">
                <h4 class="modal-title">Atenção!</h4>
                <button type="button" class="close"
                    data-dismiss="modal">&times;</button>
            </div>

            <!-- body -->
            <div class="modal-body">
                <p>Deseja marcar este animal como abatido?</p>
            </div>

            <!-- footer -->
            <div class="modal-footer">

                <a id="excluir" class="btn btn-danger">Sim!</a>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).on('click', '#btn-excluir', function (e) {
        a = document.getElementById('excluir');
        const id =  $(this).data('id');
        a.setAttribute("href", "/gado/abater/" + id);
    });
</script>

{% endblock body %}
